# Core dependencies for catalogue API
numpy
matplotlib
python-dateutil
flask
flask-cors
sgp4
requests
pytz
waitress
healpy
astropy
h5py
tart
psutil
aiohttp
asyncio

# FastAPI dependencies
fastapi[standard]
uvicorn[standard]
uvloop
pydantic
python-multipart
orjson
